---
import Fence from "@/components/layout/fence.astro";
import Link from "@/components/shared/link.astro";
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";

const excludedRoutes = new Set(["discord", "youtube", "website", "rss", "instagram"]);

const socials = await getCollection("socials", (entry) => !excludedRoutes.has(entry.id));
---

<footer class="py-10 text-sm">
  <Fence>
    <section class="flex flex-col items-center gap-12">
      <address class="flex items-center justify-center gap-4 text-3xl">
        {
          socials.map((r) => (
            <Link
              href={r.data.href}
              class:list={["transition", r.data.color ?? "text-current"]}
            >
              <Icon name={r.data.icon} title={r.data.text} class="text-current" />
            </Link>
          ))
        }
      </address>

      <p class="flex flex-wrap items-center justify-center gap-2">
        <span>&copy;</span>
        <time>{Temporal.Now.zonedDateTimeISO().year}</time>
        <span>Prince Muel</span>
        <span class="before:mx-1 before:content-['::'] max-sm:hidden">
          Powered by
          <Link href="https://docs.astro.build/en/getting-started/">
            {Astro.generator}
          </Link>
        </span>

        <span class="before:mx-1 before:content-['::'] max-sm:hidden">
          Theme by <Link href="https://princemuel.fly.dev">princemuel </Link>
        </span>
      </p>
    </section>
  </Fence>
</footer>
