---
import { getEntry, render } from "astro:content";
import { randomUUID } from "node:crypto";

import Prose from "@/components/content/prose.astro";
import Shell from "@/components/frames/shell.astro";
import Fence from "@/components/layout/fence.astro";
import Link from "@/components/shared/link.astro";

const entry = await getEntry("pages", "projects");
if (!entry) throw new Response(null, { status: 404 });

const { Content } = await render(entry);
const entries = ["", "", ""];
const route = {
  tag: "https://eyalkalderon.com/categories/meta/",
  readMore: "https://eyalkalderon.com/blog/monitor-wireguard-uptime-kuma/",
  tags: ["cryptography", "keybase", "keyoxide", "openpgp", "indieweb"],
};

randomUUID().toString();
---

<Shell>
  <Fence>
    <div class="flex flex-col gap-12">
      <Prose as="section">
        <Content frontmatter={entry.data} />
      </Prose>

      <section role="feed" aria-busy="false" class="flex flex-col">
        {
          entries.map((_item, idx) => {
            const uuid = randomUUID().slice(0, 8);
            return (
              <article
                aria-posinset={idx + 1}
                tabindex="0"
                aria-labelledby={`${uuid}-headline`}
                aria-describedby={`${uuid}-summary ${uuid}-metadata ${uuid}-keywords`}
                aria-setsize={entries.length}
                class:list={[
                  "group flex flex-col gap-6 py-8 text-sm sm:text-base",
                  "border-gray-200 not-last-of-type:border-b dark:border-gray-700",
                ]}
              >
                <header class="flex flex-col gap-4 text-sky-700 dark:text-sky-400">
                  <h2
                    id={`${uuid}-headline`}
                    class:list={[
                      "relative pb-3 text-xl font-bold",
                      "after:absolute after:block after:w-full after:content-['']",
                      "after:bottom-0.5",
                      "border-b-3 border-dotted after:border-b-3 after:border-dotted",
                    ]}
                  >
                    Moving from Keybase to Keyoxide
                  </h2>

                  <ul
                    id={`${uuid}-metadata`}
                    aria-label="this article's metadata"
                    class="flex flex-wrap items-center gap-3 text-gray-500 dark:text-gray-400"
                  >
                    <li title="Published on 2025-07-05T03:08:11-04:00">
                      <time datetime="2025-07-05T03:08:11-04:00">2025.07.05</time>
                    </li>
                    <li role="separator" aria-hidden="true">
                      ::
                    </li>
                    <li title="1379 words">
                      <time datetime="PT7M">7 min</time> read
                    </li>
                  </ul>

                  <section
                    id={`${uuid}-keywords`}
                    class="flex flex-wrap items-center gap-x-3 gap-y-1"
                  >
                    <Link href={route.tag}>&lbrace;meta&rbrace;</Link>
                    <span role="separator">::</span>
                    {route.tags.map((tag) => (
                      <Link
                        href={new URL(`tags/${tag}`, "https://eyalkalderon.com")}
                        class="underline"
                      >
                        #{tag}
                      </Link>
                    ))}
                  </section>
                </header>

                <p id={`${uuid}-summary`}>
                  Mourning the slow death of Keybase and introducing Keyoxide, an open source
                  decentralized replacement.
                </p>

                <Link
                  href={route.readMore}
                  aria-label={
                    "Read more about Monitoring Wireguard in Uptime Kuma (with OPNsense)"
                  }
                  class="text-sky-700 dark:text-sky-400"
                >
                  read more →
                </Link>
              </article>
            );
          })
        }
      </section>
    </div>
  </Fence>
</Shell>
